<div class="container__small-card">

  <div class="container__small-card-content">

    <div class="small-card__photo">
      <img src="https://1.bp.blogspot.com/-4vTgRx2HlTE/YN9IoM8gMzI/AAAAAAAAuTk/Qk-GDPUDTEENOmwhl04bZLq65PrZUwBTACLcBGAsYHQ/s2048/Spring%2BEcosystem.png"
      alt=""  srcset=""
      >
    </div>

    <div class="small-card__title">
      <h1><a href="#">Outras Noticias sobre o mundo da tecnologia</a></h1>
    </div>

  </div>
    <div class="container__small-card-separator">
      <hr>
    </div>
  </div>


