.container__content {

  height: 100vh;

  margin-top: 20px;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.content__cover {
  border: 1px  rgba(235, 230, 230, 0);
}

.content__cover >img {
  border: 5px solid rgb(57, 62, 67);
  border-radius: 5px;
  width: 500px;
  height: 300px;
  min-width: 500px;
}

.content__description{
  margin-top: 15px;
  justify-content: center;
}

.content__description >p{
  margin-top: 20px;
  color: rgb(11, 11, 11);
}

.content__description >a{
  margin-top: 20px;
  color: rgb(4, 4, 4);
  align-items: center;
}
